<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>
        <%=messages %>
    </p>
    <%for(let camp of foundCamp) {%>
        <h1>
            <%=camp.title %>
        </h1>
        <%if(camp.image){%>
            <div>
                <img src="<%=camp.image %>" height="300px" width="300px" alt="">
            </div>
            <%} %>
                <a href="/campgrounds/<%= camp._id%>">Details</a>
                <%}%>
                    <div style="margin-top: 2rem;">
                        <a href="/campgrounds/new">Add New Campground</a>
                    </div>
</body>

</html>