<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Create New Campground | Yelp-Camp</title>
</head>

<body>
    <div class="container">
        <h1 class="m-3 text-center">Create New Campground</h1>
        <div>
            <form action="/campgrounds" class="needs-validation" method="POST" novalidate>
                <div>
                    <label for="title">Campground Title</label>
                    <input type="text" class="m-3 form-control" name="title" id="title" placeholder="Title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid Field
                    </div>
                </div>
                <div>
                    <label for="price">Campground Price</label>
                    <input type="text" class="m-3 form-control" name="price" id="price" placeholder="Price" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid Field
                    </div>
                </div>
                <div>
                    <label for="description">Campground Description</label>
                    <input type="text" class="m-3 form-control" name="description" id="description" placeholder="Description" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid Field
                    </div>
                </div>
                <div>
                    <label for="location">Campground Location</label>
                    <input type="text" class="m-3 form-control" name="location" id="location" placeholder="Location" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid Field
                    </div>
                </div>
                <div>
                    <label for="campground-image">Campground Image</label>
                    <input type="text" class="m-3 form-control" name="image" id="campground-image" placeholder="Insert Image">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid Field
                    </div>
                </div>
                <button class="m-3 btn btn-primary">Add</button>
            </form>
            <a class="m-3" href="/campgrounds">Back To Campgrounds</a>
        </div>
    </div>
    <script>
        (function() {
            'use strict'
            var forms = document.querySelectorAll('.needs-validation')
            Array.prototype.slice.call(forms)
                .forEach(function(form) {
                    form.addEventListener('submit', function(event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>