* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.post-container {
    width: 80vw;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    margin-top: 2rem;
}

.post-inputs {
    padding: 1rem 3rem;
}

.main-container {
    border: 1px solid black;
}

.posts-content {
    height: 30vh;
    border: 1px solid black;
}

.posts-btn {
    width: 100vw;
    text-align: center;
    margin: 1rem 0;
}

.posts-btn button {
    padding: .5rem 1.5rem;
}

.callContainerStyles {
    border: 1px solid black;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}